@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	font-family: 'Roboto', sans-serif;
}
#main-content{
	border: 1px solid black;
	padding: 30px;
	border-radius: 12px;
}
.select-input input{
	width: 83%;
}
.select-input select{
	padding-top: 3.2px;
    padding-bottom: 4px;
    margin: -6px
}
.timing{
	display: none;
}
#reset-btn{
	display: none;
}
#timer-change{
	font-size: 20px;
}